body {
    /* display: flex; */

    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;

    justify-content: center;
    align-items: center;

    border: 2p solid green;
}

#BackGroundVideo {
    opacity: 0.15;
    position: absolute;

}
#main {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    aspect-ratio: 1/1;


    margin: 0 auto;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(to right, 
    rgba(0, 0, 0, 0.02), 
    rgb(100, 100, 100),
    rgb(200, 200, 200),
    rgb(200, 200, 200),
    rgb(200, 200, 200),
    rgb(200, 200, 200),
    rgb(200, 200, 200),
    rgb(200, 200, 200),
    rgb(200, 200, 200),
    rgb(100, 100, 100), 
    rgba(0, 0, 0, 0.02));

    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}
#div {
    display: flex;
    color: red;
}

#test {
    display: flex;
    background-color: brown;
    grid-area: 1/1/1/1;
}








